<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Patient Login</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/patient.css}">
</head>
<body class="login-page">
	<div th:replace="common/navbar :: navbar"></div>

	<div class="page-container">
		<div class="form-box">
			<h2>Patient Login</h2>
			<form th:action="@{/patient/login}" method="post">
				<label for="email">Email:</label> <input type="email" id="email"
					name="email" required /><br /> <label for="password">Password:</label>
				<input type="password" id="password" name="password" required /><br />
				
				<div class="form-buttons">
					<button type="submit" class="btn-primary">Login</button>
				</div>	
			</form>
			
			<p th:if="${error}" th:text="${error}" style="color: red;"></p>
			<p th:if="${logoutSuccess}" th:text="${logoutSuccess}" class="logout-success-text"></p>

			<p class="register-link">
				<a th:href="@{/patient/register}">Not registered? Register here!</a>.
			</p>
		</div>
	</div>
</body>
</html>
