<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Patients</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/doctor-patients.css}">
</head>
<body>
<div th:replace="common/navbar :: navbar"></div>

<div class="appointments-container">
    <h2>Patients List</h2>
    <hr />

    <div th:if="${#lists.isEmpty(appointments)}">
        <p>No patients yet!</p>
    </div>

    <div th:unless="${#lists.isEmpty(appointments)}">
        <table class="appointments-table">
            <thead>
            <tr>
                <th>Patient Name</th>
                <th>Appointment Time</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="appointment : ${appointments}">
                <td th:text="${appointment.patient.name}">Patient Name</td>
                <td th:text="${appointment.appointmentDateTime}">Date & Time</td>
                <td th:text="${appointment.status}">Status</td>
            </tr>
            </tbody>
        </table>
    </div>

    <a th:href="@{/doctor/dashboard}" class="back-link">←Go Back to Dashboard</a>
</div>
</body>
</html>
